@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-text-color: #265c8c;
  --bg-color: #6093bf;
  --border-color: #03318c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
}
